

    <!--=================================
    Banner -->
    <section class="slider-01">
      <div class="container-fluid px-0">
        <div id="main-slider" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-01 align-items-center d-flex bg-overlay-black-50 header-position"  style="background-image: url(../../../assets/Lokesh-img/pp.jpeg); background-size: cover; background-position: center; background-repeat: no-repeat;">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 position-relative">
                    <div class="banner-content">
                      <div class="content text-center">
                        <h1 class="animated text-white mb-3" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.0s">Dhee 15 Title Winner(Team S9)</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </section>
    <!--=================================
    Banner -->

    <!--=================================
    Course Details -->
    <section class="space-ptb course-details">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xl-8">
            
           
            <iframe class="border mb-5" width="1300" height="550" src="https://www.youtube.com/embed/Q8FYpMqogSQ?si=9OLF5X23PLaXpz0S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          
          </div>
          <div class="col-md-5 col-xl-4 mt-5 mt-md-0">
            <div class="widgets">
              <div class="widget widget-price">
                
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Course Details -->






    <!--=================================
    Education Categories -->
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="section-title text-center">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="categories">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.28 AM (1).jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.33 AM (1).jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.30 AM.jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.29 AM.jpeg" alt="">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="categories mb-md-0">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.30 AM (1).jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories mb-md-0">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.29 AM (1).jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories mb-sm-0">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.31 AM.jpeg" alt="">
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="categories mb-0">
                <img class="img-fluid" src="../../../assets/Lokesh-img/WhatsApp Image 2023-10-14 at 5.43.32 AM.jpeg" alt="">
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Education Categories -->

         

          <!--=================================
          News -->
          <section class="space-ptb">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-9 col-sm-10">
                  <div class="section-title text-center">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="blog-post-style-02 mb-4 mb-md-0">
                    <div class="blog-post-img">
                      <img class="img-fluid"  style="height: 620px;" width="700px;" src="../../../assets/Lokesh-img/k.jpeg" alt="">
                    </div>
                    <div class="blog-post-info">
                      <div class="blog-post-category">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="blog-post-style-02">
                        <div class="blog-post-img">
                          <img class="img-fluid" style="height: 300px;" width="630px;" src="../../../assets/Lokesh-img/k1.jpeg" alt="">
                        </div>
                        <div class="blog-post-info">
                          <div class="blog-post-category">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-0 mt-md-1">
                      <div class="blog-post-style-02">
                        <div class="blog-post-img">
                          <img class="img-fluid" style="height: 300px;" width="700px;" src="../../../assets/Lokesh-img/k2.jpeg" alt="">
                        </div>
                        <div class="blog-post-info">
                          <div class="blog-post-category">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--=================================
          News -->

        

          <section>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 p-0">
                  
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3801.2662247404405!2d83.01152629515427!3d17.684879372939857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39711f8db12505%3A0xe06d5588357e2874!2sAnakapalli%20park%20center%20gavarapalem!5e0!3m2!1sen!2sin!4v1697654822532!5m2!1sen!2sin"  style="border:0;  width: 100%; height:500px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
                </div>
              </div>
            </div>
          </section>



          <!--=================================
          footer-->
          <footer class="footer">
           
            <div class="footer-bottom bg-light">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                      <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/lokesh_dhee15/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                        <li><a href="https://www.youtube.com/@LuckyofficialD"><i class="fab fa-youtube"></i></a></li>
                        
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="copyright text-md-end text-center">
                      <p class="mb-0 small">© Copyright 2023 <a >NAVATA SOLUTIONS</a> All Rights Reserved.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!--=================================
          footer-->

          <!--=================================
          Back To Top -->
          <div id="back-to-top" class="back-to-top">
            <a href="#"><i class="fas fa-chevron-up"></i></a>
          </div>
          <!--=================================
          Back To Top -->

